h1 {
  margin-left: 30px;
  text-align: center;

}

.btn-opciones,
.btn-adicionar {
  display: inline-block; /* Coloca los elementos en línea */
  margin-right: 10px; /* Ajusta el margen entre los botones según sea necesario */
}

.example-form-field {
  width: 100%; /* Ajusta el ancho del elemento de entrada dentro del mat-form-field */
}
