<mat-dialog-content class="mat-typography">
  <section>
    <div class="main">
      <!-- Contenedor del título -->
      <div class="titulo">
        <h1 class="mb-3 subtitle">ELIMINAR TICKET</h1>
      </div>
      <!-- Formulario de búsqueda de ticket -->
      <form [formGroup]="agregarTicket" class="main-form">
        <div class="row mb-4 contenedor">
          <!-- Campo de búsqueda por número de ticket -->
          <div>
            <mat-form-field class="example-form-field-2">
              <mat-label>Buscar por número de ticket</mat-label>
              <input matInput placeholder="Ej: FAMISW" formControlName="consultarTick">
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <div class="btn-container">
    <!-- Botón de búsqueda -->
    <div class="centrar-boton">
      <button mat-raised-button class="btn-buscar"
      (click)="consultarTickets()">
        Buscar
      </button>
    </div>
    <!-- Botón para cerrar el diálogo -->
    <div class="btn-cerrar">
      <button id="boton" mat-raised-button mat-dialog-close class="btn btn-danger">
        Cerrar
      </button>
    </div>
  </div>
</mat-dialog-actions>
