$primary: #198754;
$secondary: #6db33f;

h1 {
  margin-left: 0px;
  text-align: center;
}

section {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 0em;
}

.contenedor {
  display: flex;
  /* Establece el contenedor como un contenedor flexible */
  justify-content: space-between;
  /* Distribuye el espacio disponible entre las columnas */
}

.contenedor .col {
  margin-right: 10px;
  /* Esto añade un espacio de 10 píxeles entre las columnas */
}

.tickets {
  display: flex;
  justify-content: center;
  align-items: center;
}


form {
  margin: auto;
  width: fit-content;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 1px;

}

.main {
  padding: 2% 5%;

  input,
  select {
    text-align: center;
  }


  div .row .col {
    width: 50%;
  }

  .subtitle {
    height: 10%;
    background: $primary;
    color: white;
    padding: 2px;
    border: solid $primary 1px;
    border-radius: 5px;
    text-align: center;
    font-size: 19px;
  }
}

.example-full-width-1 {
  width: 433px;
}

.example-form-field-2{
  width: 333px;
}

#boton {
  /* Agrega un borde negro a los botones */
  border: 1px solid black; /* Grosor del borde y color */
  display: flex;
  justify-content: space-between;
}

.btn-container {
  text-align: center; /* Centra los botones */
}

.btn-opciones,
.btn-adicionar {
  display: inline-block; /* Coloca los elementos en línea */
  margin-right: 10px; /* Ajusta el margen entre los botones según sea necesario */
}

.btn-buscar {
  margin-top: 10px;
  left: -10px;
}



