.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.example-form-field{
  width: 100%; /* Establece el ancho al 100% del contenedor */
}

.mat-input-element {
  width: 100%; /* Ajusta el ancho del elemento de entrada dentro del mat-form-field */
}

.exampl{
  width: 80%;
}

